/* phần 2: tạo base */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Khôi phục lại cở chữ theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ================ Common ===================== */
.main-content {
  width: 1024px;
  max-width: calc(100% - 24px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
:root {
  --color-heading: #1ebfc1;
}
/* ================ Header ===================== */
.header.fix {
  position: sticky;
  z-index: 1;
  top: -28px;
}
.header .body {
  display: flex;
  padding: 64px 0 8px;
}
.header .body .nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #2f3a3b;
  padding: 8px 19.5px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header .body .action {
  margin-left: 115px;
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 24px;
}
.header .action .btn-sign-nup1 {
  display: inline;
  margin-left: 24px;
  padding: 12px 23px 12px 24px;
  border-radius: 6px;
  border: 1px solid var(--color-heading);
  width: 108px;
  height: 48px;
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header .nav a:hover {
  opacity: 0.8;
}
.header .action .btn-sign-nup1:hover {
  background-color: var(--color-heading);
  color: white;
}
/* ================ Hero ===================== */
/* ================ Hero Left ===================== */
.hero {
  padding: 30px 0 8px;
  margin-top: 24px;
}
.hero .body {
  display: flex;
  gap: 136px;
  position: relative;
}
.hero .hero-left .desc {
  margin-top: 93px;
  color: #767e7e;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
}
.hero .hero-left .title {
  width: 458px;
  color: #0d1111;
  font-family: Poppins;
  font-size: 6.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
  margin-bottom: 46px;
}
.hero .hero-left .desc1 {
  color: #9da6a5;
  width: 374px;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.78; /* 177.778% */
  margin-bottom: 52px;
}
.hero .hero-left .btn {
  width: 186px;
  height: 68px;
  background-color: var(--color-heading);
  border: 1px solid var(--color-heading);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 41px 21px;
  border-radius: 14px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .hero-left .action {
  display: flex;
  gap: 50px;
  background-color: #fff;
}
.hero .hero-left .action .action1 {
  padding: 24px;
  width: 62px;
  height: 62px;
  border-radius: 999px;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
/* ================ Hero Right ===================== */
.hero .body .hero-right .human {
  max-width: 100%;
  height: 631px;
  object-fit: contain;
}
.hero .body .hero-right .box .box1 {
  padding: 17px 25px 18px;
  position: absolute;
  bottom: 407px;
  right: 362px;
  display: flex;
  gap: 16px;
  border-radius: 18px;
  background: white;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .body .hero-right .box .box1 .title {
  width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero .body .hero-right .box .box2 {
  position: absolute;
  bottom: 46px;
  right: 362px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  padding: 16px 25px 23px;
}

.hero .body .hero-right .box .box2 .item1 {
  margin-top: 16px;
  gap: 12px;
  flex-direction: column;
  justify-content: space-around;
  width: 74px;
  height: 6px;
}
.hero .body .hero-right .box .box2 .item1:last-child {
  text-align: center;
  border-radius: 3px;
  margin-top: 16px;
}
.hero .hero-right .box3 {
  position: absolute;
  padding: 17px 35px;
  bottom: 41px;
  right: 45px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .hero-right .box3 .title {
  color: #0d1111;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero .hero-right .box3 .ava .img {
  top: 8px;
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 33px;
}
.hero .hero-right .box3 .ava5 {
  background-color: var(--color-heading);
  margin-left: -10px;
}
.hero .hero-right .box3 .ava4 {
  margin-left: -10px;
}
.hero .hero-right .box3 .ava3 {
  margin-left: -10px;
}
.hero .hero-right .box3 .ava2 {
  margin-left: -10px;
}
/*=========================== <!-- FEATURES --> ===========================*/
/*           <!-- feature-top --> */
.features {
  padding: 30px 0 8px;
  margin-top: 171px;
}
.features .feature-top .desc1 {
  color: #767e7e;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.features .feature-top .title {
  margin-top: 18px;
  margin-bottom: 18px;
  color: #0d1111;
  width: 577px;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
}
.features .feature-top .desc {
  color: #767e7e;
  width: 590px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 80px;
}
/*  <!-- feature-bottom --> */
.features .feature-bottom {
  display: flex;
  justify-content: space-between;
}
.features .feature-bottom .detail .title {
  margin-top: 26px;
  margin-bottom: 16px;
  color: #0d1111;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.features .feature-bottom .detail .desc {
  color: #9da6a5;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.69; /* 168.75% */
}
.features .feature-bottom .detail .desc1 {
  width: 168px;
}
.features .feature-bottom .detail .desc2 {
  width: 223px;
}
.features .feature-bottom .detail .desc3 {
  width: 224px;
}
/* ===================    <!-- course --> =====================*/
.course {
  padding: 30px 0 8px;
  margin-top: 92px;
}
.course .course-top .desc1 {
  color: #767e7e;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.course .course-top .title {
  color: #0d1111;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 18px;
  margin-bottom: 19px;
}
.course .course-top .detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px;
}
.course .course-top .detail .desc {
  color: #767e7e;
  width: 525px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.78; /* 177.778% */
}
.course .course-top .detail .link {
  color: var(--color-heading);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* =================  <!-- course-bottom --> =================== */
.course-bottom {
  display: flex;
  gap: 47px;
  position: relative;
}
.course-bottom .item .img {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.55;
  background: #d0efed;
  object-fit: cover;
}
.course-bottom .item .content .title {
  color: #0d1111;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.course-bottom .item .content .desc {
  color: #767e7e;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 6px;
}
.course-bottom .item .content .desc strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.course-bottom .item .content .desc1 {
  color: #9da6a5;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
}
.course-bottom .item .content .course-detail .desc::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-heading);
  margin-bottom: 4px;
}
.course-bottom .item .content .course-detail {
  display: flex;
  gap: 10px;
}
.course-bottom .item .content {
  position: absolute;
  top: 322px;
  margin-left: 17px;
  width: 325px;
  height: 195px;
  padding: 18px 82px 29px 25px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

/* ===================    <!-- course2 --> =====================*/
.course2 {
  margin-top: 227px;
  padding: 30px 0 8px;
  margin-left: 291px;
}
.course2 .c2 {
  display: flex;
  justify-content: center;
  gap: 202px;
  width: 862px;
  height: 131px;
}
.course2 .c2 .item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.course2 .c2 .item .title {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 11px;
}
.course2 .c2 .item .desc {
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ================== Comment ===================== */
.comment {
  margin-top: 226px;
  padding: 30px 0 8px;
}
.comment .body {
  display: flex;
  gap: 72px;
}
/* ==== COMMENT LEFT ==== */
.comment .comment-left .icon {
  margin-top: 37px;
}
.comment .comment-left .desc {
  margin-top: 26px;
  color: #5d6564;
  width: 419px;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.comment .comment-left .desc1 {
  margin-top: 33px;
  margin-bottom: 52px;
  color: #767e7e;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.comment .comment-left strong {
  color: #070707;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.comment .comment-left .desc1::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 2px;
  background: #070707;
  margin-right: 5px;
  margin-bottom: 5px;
}
.comment .comment-left .control {
  display: flex;
  gap: 30px;
}
.comment .comment-left .button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--color-heading);
}

.comment .comment-left .button:hover {
  opacity: 0.9;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

/* ==== COMMENT RIGHT ==== */
.comment .comment-right {
  position: relative;
}
.comment .comment-right .pic1 {
  position: absolute;
  margin-left: 66px;
  width: 92px;
  height: 92px;
  border-radius: 92px;
  object-fit: cover;
}
.comment .comment-right .pic2 {
  position: absolute;
  margin-left: 569px;
  margin-top: 19px;
  width: 110px;
  height: 110px;
  border-radius: 110px;
  object-fit: cover;
}
.comment .comment-right .pic-desc {
  width: 78px;
  height: 78px;
  border-radius: 78px;
  object-fit: cover;
}
.comment .comment-right .pic3 {
  position: absolute;
  margin-left: 569px;
  margin-top: 374px;
}
.comment .comment-right .pic4 {
  position: absolute;
  margin-left: 212px;
  margin-top: 403px;
}
.comment .comment-right .pic5 {
  position: absolute;
  margin-top: 258px;
}

.comment .comment-right .pic6 {
  position: absolute;
  margin-left: 273px;
  margin-top: 107px;
  width: 235px;
  height: 235px;
  border-radius: 235px;
  object-fit: cover;
}

/* ================== Admit ===================== */
.admit {
  margin-top: 92px;
  padding: 30px 0 8px;
  background-color: #def6f5;
}
.admit .body {
  display: flex;
  gap: 410px;
}
/* <!-- ADMIT-LEFT --> */
.admit .admit-left .title {
  margin-top: 76px;
  margin-bottom: 18px;
  width: 420px;
  color: #070707;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.admit .admit-left .desc {
  width: 397px;
  color: #767e7e;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 88px;
}
/* <!-- ADMIT-Right --> */
.admit .admit-right .btn {
  border-radius: 14px;
  margin-top: 96px;
  padding: 20px 41px 21px;
  background-color: var(--color-heading);
  cursor: pointer;
}

.admit .admit-right .btn:hover {
  opacity: 0.9;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
/* ================ FOOTER ===================== */
.footer {
  margin-top: 92px;
  padding: 30px 0 8px;
}

/* ==== Footer top ================*/
.footer .footer-top {
  display: flex;
  justify-content: space-between;
}
.footer .footer-top .item .title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 26px;
}
.footer .footer-top .item .list {
  color: #535353;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .footer-top .item .list li:nth-child(n + 1) {
  margin-top: 20px;
}

.footer .footer-top .item .list1 .social {
  display: flex;
  color: #535353;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .footer-top .item .list1 .social .icon {
  margin-right: 9px;
}
.footer .footer-top .item .list1 .social:nth-child(n + 1) {
  margin-top: 20px;
}
/* ==== Footer bottom ================*/
.footer .footer-bottom {
  margin-top: 42px;
  padding: 30px 0 8px;
  margin-bottom: 42px;
}
.footer .footer-bottom .desc {
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
